body {
    background: lightyellow;
    margin-left: 500px;
    margin-right: 30px;

}

nav{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

header {
    margin-top: 75px;
}



h1 {
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

h2 {

    color: darkcyan;
    font-family: sans-serif;
}

p {
    font-size: 30px;
}

img {
    margin-bottom: 20px;
    margin-left: 330px;
}

.criadores{
    margin-left: 225px;
}